@import './base.css';

.keycard__main-container {
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    color: var(--white-95);
    opacity: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: fade 300ms;
}

.keycard__card-info-container-hidden {
    opacity: 0;
    display: none;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 200ms, visibility 200ms;
}

.keycard__pairing-container {
    color: var(--white-95);
    text-align: center;
    opacity: 1;
    visibility: visible;
    display: inherit;
    animation: fade 300ms;
    background-color: var(--white-8);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.keycard__card-info-container-message {
    text-align: center;
    padding: 8em 1em;
}

.keycard__card-messages {
    width: 100%;
    height: calc(100% - 340px);
    padding: 1.5em;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--text-small);
    color: var(--terminal-green);
    overflow-y: auto;
    background-color: var(--white-4);
}

.keycard__card-info {
    width: 100%;
    height: 340px;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--font-secondary);
    font-size: var(--text-medium);
}

.keycard__app-info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
}

.keycard__card-info-container-element {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    line-height: var(--text-line-heigth-16);
}

.keycard__card-info-container {
    width: 72%;
    flex-grow: 72%;
    box-sizing: border-box;
    background: var(--white-4);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: block;
    flex-wrap: wrap;
}

.keycard__content-container {
    width: 28%;
    flex-grow: 28%;
    display: flex;
    flex-direction: block;
    align-content: start;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: var(--white-12);
    max-height: 100vh;
    font-family: var(--font-secondary);
}

.keycard__cmd-group-container {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

.keycard__list-header {
    font-size: var(--text-small);
    text-transform: uppercase;
    font-weight: var(--text-bold);
    color: var(--white-80);
    cursor: default;
}

.keycard__commands-list {
    display: flex;
    flex-direction: block;
    flex-wrap: wrap;
    gap: 7px;
    padding: 5px 0;
    box-sizing: border-box;
}

.keycard__commands-list-el {
    width: 100%;
    font-size: var(--text-medium);
}

.keycard__commands-list-el-link {
    display: block;
    padding: 0;
    box-sizing: border-box;
    border: none;
    color: var(--white-95);
    font-family: var(--font-secondary);
    font-weight: var(--text-semibolt);
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.keycard__commands-list-el-link:hover {
    color: var(--orange);
}

.keycard__commands-list-el-link:disabled {
    color: var(--white-60);
    cursor: inherit;
}

.keycard__commands-list-el-link:disabled:hover {
    background: transparent;
}

.keycard__section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.keycard__img-card-container {
    width: 300px;
    box-sizing: border-box;
    border-radius: var(--box-shadow);
}

.keycard__img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.keycard__pairing-message {
    font-size: var(--h2-size);
    line-height: var(--text-line-heigth-20);
    font-style: var(--text-bold);
    font-family: var(--font-secondary);
    padding: 0 1em;
    color: var(--white-95);
    transition: opacity 1s;
}

.keycard__pairing-input-field {
    width: 60%;
    box-sizing: border-box;
}

.keycard__pairing-input {
    background: none;
    border: none;
    box-shadow: none;
    color: var(--white-95);
    width: 100%;
    outline: none;
    padding: .3em .5em;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-size: var(--h2-size);
    font-family: var(--font-main);
    text-align: center;
}

.keycard__btn-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.keycard__btn {
    font-family: var(--font-secondary);
    background-color: var(--orange);
    border: solid 1px var(--orange);
    border-radius: var(--border-radius-12);
    color: var(--white-95);
    font-size: var(--text-medium);
    font-weight: var(--text-semibold);
    line-height: var(--text-default-line-heigth);
    outline: none;
    padding: 8px 14px;
    box-sizing: border-box;
    opacity: 1;
    cursor: pointer;
    text-align: left;
}

.keycard__init-info-container {
    margin: 1em auto;
    text-align: center;
}

.keycard__init-data-container {
    width: 400px;
    font-size: var(--text-medium);
    color: var(--white-95);
    background-color: var(--white-4);
    border-radius: var(--border-radius-20);
    border: solid 1px var(--white-8);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.keycard__init-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.keycard__app-info-label {
    color: var(--orange);
    font-size: var(--text-small);
    font-weight: var(--text-bold);
    text-transform: uppercase;
}

.keycard__init-info-label {
    color: var(--orange);
    width: 40%;
    text-align: left;
}

.keycard__wordlist-container {
    width: 85%;
    margin: 1em auto;
    text-align: center;
    font-size: var(--h1-size);
    line-height: var(--text-line-height-30);
}

.keycard__pairing-mnemonic-field {
    width: 80%;
}

.keycard__load-mnemonic {
    width: 100%;
    border: none;
    background-color: var(--white-4);
    border-radius: var(--border-radius-20);
    font-size: var(--h1-size);
    line-height: var(--text-line-height-30);
    font-family: var(--font-main);
    border: none;
    outline: none;
    color: var(--white-95);
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    resize: none;
    text-align: center;
}

.keycard__loading {
    display: block;
    position: relative;
    width: 148px;
    height: 148px;
    margin: 4em auto;
}

.keycard__loading div {
    position: absolute;
    border: 4px solid var(--orange);
    opacity: 1;
    border-radius: 50%;
    animation: keycard__loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.keycard__loading div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes keycard__loading {
    0% {
        top: 72px;
        left: 72px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 144px;
        height: 144px;
        opacity: 0;
    }
}

.keycard__export-address-message {
    font-size: var(--h2-size);
    line-height: var(--h2-size);
    font-style: var(--text-bold);
    font-family: var(--font-secondary);
    box-sizing: border-box;
}

.keycard__export-address-container {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.eth__address-qr {
    width: 100%;
    display: block;
}

.keycard__key-container {
    font-size: 1.45em;
    font-family: var(--font-secondary);
    box-sizing: border-box;
    padding: 20px 0;
}

.keycard__wallet-public-key-label {
    font-size: 1em;
    font-family: var(--font-secondary);
    box-sizing: border-box;
    padding: 10px 0;
}

.keycard__wallet-public-key {
    width: 650px;
    word-wrap: break-word;
    font-family: var(--font-main);
    box-sizing: border-box;
    line-break: anywhere;
}

.keycard__export-address-link {
    font-family: var(--font-main);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.keycard__export-img {
    width: 30px;
}

.keycard__reinstal-form-field {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.keycard__reinstall-field {
    position: relative;
    width: fit-content;
}

.keycard__reinstall-file-label {
    position: relative;
    z-index: 0;
    width: 100%;
    font-family: var(--font-secondary);
    background-color: var(--white-8);
    border: solid 1px var(--white-12);
    border-radius: var(--border-radius-12);
    color: var(--orange);
    font-size: var(--text-medium);
    font-weight: var(--text-semibold);
    line-height: var(--text-default-line-heigth);
    outline: none;
    padding: 8px 14px;
    box-sizing: border-box;
    opacity: 1;
    cursor: pointer;
    text-align: left;
}

.keycard__reinstall-file-input {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.keycard__file-path-label {
    font-family: var(--font-secondary);
    font-weight: var(--text-default-weight);
    font-size: var(--text-small);
}

.keycard__check {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.keycard__check-label {
    position: relative;
    cursor: pointer;
    margin-right: 2.5em;
    font-size: var(--text-medium);
}

.keycard__check-label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--orange);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: .56em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: .8em;
}

.keycard__check:checked+.keycard__check-label:after {
    content: '';
    display: block;
    position: absolute;
    top: .1em;
    left: .55em;
    width: .25em;
    height: .8em;
    border: solid var(--orange);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.keycard__hide-container {
    display: none;
}