<section class="keycard__section" id="keycard__change-puk-layout">
    <div class="keycard__img-card-container">
        <img src="./img/smartcard_update.svg" alt="Smartcard" class="keycard__img">
    </div>
    <p class="keycard__pairing-message">Insert new PUK</p>
    <div class="keycard__pairing-input-field">
        <input type="password" id="change-puk" class="keycard__pairing-input keycard__change-puk-el" name="change-puk"
            size="12" minlength="12" maxlength="12" required
            placeholder="&cir; &cir; &cir; &cir; &cir; &cir; &cir; &cir; &cir; &cir; &cir; &cir;">
    </div>
    <p class="keycard__pairing-message">Repeat PUK</p>
    <div class="keycard__pairing-input-field">
        <input type="password" id="repeat-change-puk" class="keycard__pairing-input keycard__change-puk-el"
            name="repeat-change-puk" size="12" minlength="12" maxlength="12" required
            placeholder="&cir; &cir; &cir; &cir; &cir; &cir; &cir; &cir; &cir; &cir; &cir; &cir;">
    </div>
    <div class="keycard__btn-container">
        <input type="submit" id="change-puk-btn" class="keycard__btn" value="Change PUK" disabled="disabled">
        <input type="button" id="change-puk-cancel" class="keycard__btn" value="Cancel">
    </div>
</section>