<section id="keycard__export-address-layout">
  <p class="keycard__export-address-message">Current Wallet Address</p>
  <div class="keycard__export-address-container">
    <canvas id="eth-addr-canvas" class="eth__address-qr"></canvas>
  </div>
  <div class="keycard__key-container">
    <span id="wallet-eth-address" class="keycard__export-address"></span>
    <a href="#" id="wallet-key-link" class="keycard__export-address-link">&#x1f517</a>
  </div>
  <p class="wallet-public-key-label">Full Public Key</p>
  <p id="wallet-public-key" class="keycard__wallet-public-key"></p>
  <div class="keycard__btn-container">
    <input type="submit" id="export-key-ok" class="keycard__btn" value="OK">
  </div>
</section>