<section id="keycard__show-mnemonic-layout">
  <div class="keycard__img-card-container">
    <img src="./img/smartcard_update.png" alt="Smartcard" class="keycard__img">
  </div>
  <p class="keycard__pairing-message">Please write these words down. They won't be presented again and there is no way to recover them.</p>
  <div class="keycard__wordlist-container">
    <p id="wordlist-container"></p>
  </div>
  <div class="keycard__btn-container">
    <input type="submit" id="wordlist-ok" class="keycard__btn" value="Words Wrote Down">
  </div>
</section>