<section id="keycard__verify-puk-layout">
  <div class="keycard__img-card-container">
    <img src="./img/smartcard_verify.png" alt="Smartcard" class="keycard__img">
  </div>
  <p class="keycard__pairing-message">Too many invalid PIN attempts. Your PIN retry count is 0. Please insert your PUK.
    <span id="puk-retry-form"></span> tries left.</p>
  <div class="keycard__pairing-input-container">
    <div class="keycard__pairing-input-field group">
      <label for="verify-puk" class="keycard__pairing-input-label">PUK</label>
      <input type="password" id="verify-puk-inp" class="keycard__pairing-input keycard__verify-puk-el" name="verify-puk"
        size="12" minlength="12" maxlength="12" required placeholder="************">
    </div>
    <div class="keycard__pairing-input-field group">
      <label for="new-pin" class="keycard__pairing-input-label">New PIN</label>
      <input type="password" id="new-pin" class="keycard__pairing-input keycard__verify-puk-el" name="new-pin" size="6"
        minlength="6" maxlength="6" required placeholder="******">
    </div>
    <div class="keycard__pairing-input-field group">
      <label for="repeat-new-pin" class="keycard__pairing-input-label">Repeat PIN</label>
      <input type="password" id="repeat-new-pin" class="keycard__pairing-input keycard__verify-puk-el"
        name="repeat-new-pin" size="6" minlength="6" maxlength="6" required placeholder="******">
    </div>
  </div>
  <div class="keycard__btn-container">
    <input type="submit" id="verify-puk-btn" class="keycard__btn" value="Verify PUK" disabled="disabled">
    <input type="button" id="verify-puk-cancel" class="keycard__btn" value="Cancel">
  </div>
</section>